body{
    margin: 0;
    font-family: Arial, sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: 0.3s;
    z-index: 1000;
}

nav.scrolled{
    background: #111;
    padding: 10px 30px;
}

.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #00eaff;
    transform: scale(1.1);
}

.hero{
    background: #1d1f29;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
